parameters:
	level: 8
	paths:
		- src
		- test
	ignoreErrors:
		-
			identifier: offsetAccess.nonArray
			path: src/Protocol/Buffer.php
			count: 20
		-
			identifier: offsetAccess.nonOffsetAccessible
			path: src/Protocol/Buffer.php
			count: 9
		-
			identifier: deadCode.unreachable
			path: src/Channel.php
			count: 1
		-
			message: '#^Cannot call method (toArray)\(\) on Bunny\\Protocol\\ContentHeaderFrame\|null\.$#'
			path: src/Channel.php
		-
			identifier: smallerOrEqual.alwaysFalse
			path: src/Channel.php
			count: 1
		-
			message: '#^Cannot call method (channelOpen|awaitConnectionTune|connectionTuneOk|connectionOpen|startHeartbeatTimer|connectionStartOk|disconnect)\(\) on Bunny\\Connection\|null\.$#'
			path: src/Client.php
		-
			message: '#^Parameter \#\d+ \$.+ of (?:method [^ ]+\(\)|function [^ ]+|class [^ ]+ constructor) expects (?:(.+), \1\|null|Bunny\\Protocol\\Buffer\|string, (?:Bunny\\Protocol\\Buffer|string)\|null|int, int<0, max>\|null|int, int<min, -1>\|int<1, max>\|null|DateTimeInterface, DateTime\|null) given\.$#'
			path: src/**
		-
			message: '#^Parameter \#1 \$stream of function React\\Promise\\Stream\buffer expects React\\Stream\\ReadableStreamInterface<string>, React\\Stream\\ReadableStreamInterface\|React\\Stream\\WritableStreamInterfac\e|null given\.$#'
			path: test/ClientTest.php
			count: 2
		-
			identifier: identical.alwaysFalse
			path: test/ClientTest.php
			count: 1
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with int\|false will always evaluate to false\.$#'
			path: test/ClientTest.php
			count: 1
		-
			identifier: staticMethod.alreadyNarrowedType
			path: test/ConnectionTest.php
			count: 1
