<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">test/Bunny</directory>
    </testsuite>
  </testsuites>
  <php>
    <!--
    SSL_TEST can have the following values:
    - "client"        -> run all SSL tests, expect peer cert (c.f. rabbitmq.ssl.verify_peer.conf)
    - "yes"           -> run all SSL tests, do *not* expect peer cert (c.f. rabbitmq.ssl.verify_none.conf)
    - "no" (or other) -> skip SSL-related tests
    -->
    <env name="SSL_TEST" value="client"/>
    <env name="SSL_CA" value="ssl/ca.pem"/>
    <env name="SSL_CLIENT_CERT" value="ssl/client.pem"/>
    <env name="SSL_CLIENT_KEY" value="ssl/client.key"/>
    <env name="SSL_PEER_NAME" value="server.rmq"/>

    <!-- Note: This is the connection URI used within the GitHub CI actions. For the local docker-compose setup, the
         value is overwritten in docker-compose.yaml. -->
    <env name="TEST_RABBITMQ_CONNECTION_URI" value="amqp://guest:guest@localhost:5672/"/>
  </php>
</phpunit>
